

<div class="container-fluid">
    <div>{{test.name}}</div>
    <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th class="col-md-2"><span>User Name</span></th>
            <th class="col-md-2"><span>Phone Number</span></th>
            <th class="col-md-2"><span>Email Id</span></th>
            <th class="col-md-4"><span>Address</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in matches track by $index" ng-if="row.userName != NULL">
                <td>
                    <span ng-if = "!row.isEditing">{{row.userName}}</span>
                    <input ng-if = "row.isEditing == true" type="text" ng-model="data.userName">
                </td>
                <td>
                    <span ng-if = "!row.isEditing">{{row.phoneNumber}}</span>
                    <input ng-if = "row.isEditing == true" type="text" ng-model="data.phoneNumber">
                </td>
                <td>
                    <span ng-if = "!row.isEditing">{{row.email}}</span>
                    <input ng-if = "row.isEditing == true" type="text" ng-model="data.email">
                </td>
                <td>
                    <span ng-if = "!row.isEditing">{{row.address}}</span>
                    <input ng-if = "row.isEditing == true" type="text" ng-model="data.address">
                </td>
                <td>
                    <button ng-if = "!row.isEditing" type="button" class="btn btn-danger" ng-click="deleteMatch($index,$event)">Delete</button>
                    <button ng-if="!row.isEditing" type="button" class="btn btn-primary" ng-click="editMatch($index,$event)">Edit</button>
                    <button ng-if="row.isEditing == true" type="button" class="btn btn-success" ng-click="saveEditableMatch($index,$event,1)">Save</button>
                    <button ng-if="row.isEditing == true" type="button" class="btn btn-primary" ng-click="saveEditableMatch($index,$event,0)">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>